#popup {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px;
    display: none;
    overflow: auto;
    z-index: 1003
}
#popup > button {
    height: 50px;
    width: 50px;
}
#popup:target {
    display: block;
}
