.preloader-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transition: 0.3s ease-in-out;
    z-index: 1001;
}
.preloader-logo {
    width: 100%;
    transform-origin: center bottom;
    animation: bounce 1s infinite ease-in-out;
}
@keyframes bounce {
    0% {
        transform: scale(1, 1) translate(0, 0);
    }
    50% {
        transform: scale(1, 0.8) translate(0, 40px);
    }
    100% {
        transform: scale(1, 1) translate(0, 0);
    }
}
@media screen and (min-width: 500px) {
    .preloader-logo {
        width: 30%;
    }
}
