.dev-profiles-container {
    height: 100vh;
}
.loader {
    animation: fade 0.5s infinite ease-in-out;
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
